<div class="coming__soon coming__soon-2 d-flex align-items-center">
  <div class="row align-items-center">
     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
         <div class="coming__wrapper">
           <div class="coming__content">
              <div class="logo mb-25">
                 <img src="assets/img/logo/logo.png" alt="">
              </div>
              <h3 class="coming__title">Website Under Construction</h3>
              <p>We will be back soon. Stay tuned</p>
              <div class="coming__countdown ">
                 <div class="coming__countdown-inner d-flex align-items-center">
                  <div class="cdown day"><span class="time-count">{{days}}</span> <p>Days</p></div>
                  <div class="cdown hour"><span class="time-count">{{hours}}</span> <p>Hrs</p></div>
                  <div class="cdown minutes"><span class="time-count">{{minutes}}</span> <p>Min</p></div>
                  <div class="cdown second"> <div><span class="time-count">{{seconds}}</span> <p>Sec</p></div></div>
                 </div>
              </div>

              <div class="coming__subscribe">
                 <form action="#">
                    <div class="coming__subscribe-input d-sm-flex align-items-center">
                       <input type="email" placeholder="Enter your email">
                       <button type="button" class="tp-btn-3">Subscribe</button>
                    </div>
                 </form>
              </div>
              <div class="coming__social">
                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                 <a href="#"><i class="fa-brands fa-twitter"></i></a>
                 <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
           </div>
        </div>
     </div>
     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
        <div class="coming__thumb w-img">
           <img src="assets/img/maintainance/maintainance.png" alt="">
        </div>
     </div>
  </div>

</div>
