<div class="coming__soon d-flex align-items-center">
  <div class="coming__bg include-bg" [ngStyle]="{background:'url(assets/img/coming/coming-soon-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}"></div>
  <div class="coming__wrapper">
     <div class="coming__content">
        <div class="logo mb-25">
           <img src="assets/img/logo/logo.png" alt="">
        </div>
        <h3 class="coming__title">Comming Soon</h3>
        <p>We’ll be here soon with our new<br> awesome site, subscribe to be notified.</p>
        <div class="coming__countdown ">
           <div class="coming__countdown-inner d-flex align-items-center">
            <div class="cdown day"><span class="time-count">{{days}}</span> <p>Days</p></div>
            <div class="cdown hour"><span class="time-count">{{hours}}</span> <p>Hrs</p></div>
            <div class="cdown minutes"><span class="time-count">{{minutes}}</span> <p>Min</p></div>
            <div class="cdown second"> <div><span class="time-count">{{seconds}}</span> <p>Sec</p></div></div>
           </div>
        </div>

        <div class="coming__subscribe">
           <form action="#">
              <div class="coming__subscribe-input d-sm-flex align-items-center">
                 <input type="email" placeholder="Enter your email">
                 <button type="button" class="tp-btn-3">Subscribe</button>
              </div>
           </form>
        </div>
        <div class="coming__social">
           <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
           <a href="#"><i class="fa-brands fa-twitter"></i></a>
           <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
     </div>
  </div>
</div>
