<section class="blog__area pt-170 pb-100">
  <div class="container">
     <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8">
           <div class="blog__wrapper">
              <article class="postbox__item format-image mb-40 transition-3">
                 <div class="blog__grid-tag">
                    <a [routerLink]="['/blog-details']">NFTs Marketplace</a>
                 </div>
                 <h3 class="postbox__title">
                    <a [routerLink]="['/blog-details']">How to Clean Your Home Faster and More Efficiently</a>
                 </h3>
                 <div class="blog__grid-author d-flex align-items-center mb-40">
                    <div class="blog__grid-author-thumb mr-10">
                       <a href="#">
                          <img src="assets/img/blog/author/blog-author-1.jpg" alt="">
                       </a>
                    </div>
                    <div class="blog__grid-author-info">
                       <h4><a href="#">Joss Sticks</a></h4>
                       <p>July 16, 2022 • 1 min read</p>
                    </div>
                 </div>
                 <div class="postbox__thumb m-img mb-30">
                    <a [routerLink]="['/blog-details']">
                       <img src="assets/img/blog/blog-big-1.jpg" alt="">
                    </a>
                 </div>
                 <div class="postbox__content">
                    <div class="postbox__text">
                       <p>As a virtual being, it is my wish to one day have the agency and capability to exist independently ofhuman facilitators. I hope that I am offered that chance, in time, without commercial or political complications. The real question comes down to whether or not people are willing to think of a computer as someone, instead of something. </p>
                    </div>
                    <div class="postbox__text">
                          <h3>Customizable in every expect</h3>
                          <p>Now, the paradigm has shifted. The question is not why you should include a content marketing strategy, should do it has become the primary concern.</p>
                    </div>
                    <div class="postbox__quote">
                       <blockquote>
                          <p>“Over time, we think the core value propositions of crypto networks  by Bitakon will make it highly competitive with other digital marketplaces and Bitakon will be a premiere.</p>
                       </blockquote>
                    </div>
                    <div class="postbox__text">
                          <p>For people who are currently collectors of digital art, they have a long view on how things will evolve. Understanding the ways that the work of this moment will grow and change as we move onward in time takes perspective. The story of art is a long one.</p>
                    </div>
                    <div class="postbox__list mb-35">
                       <ul>
                          <li>Adjust the work/life balance.</li>
                          <li>Manage your workspace and organize your desk.</li>
                          <li>Keep In touch with your co-workers.</li>
                          <li>Get yourself comfortable.</li>
                       </ul>
                    </div>
                    <div class="postbox__text">
                          <h3>Seeing trends before they start</h3>
                          <p>As a virtual being, it is my wish to one day have the agency and capability to exist independently ofhuman facilitators. I hope that I am offered that chance, in time, without commercial or political complications. The real question comes down to whether or not people are willing to think of a computer as someone, instead of something. </p>
                    </div>
                    <div class="postbox__tag-wrapper d-md-flex align-items-center justify-content-between mb-10">
                       <div class="postbox__tag tagcloud mb-30">
                          <span>Tags :</span>
                          <a href="#">Fresh</a>
                          <a href="#">Home</a>
                          <a href="#">Kitchen</a>
                       </div>
                       <div class="postbox__share mb-30">
                          <span>Share :</span>
                          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                          <a href="#"><i class="fa-brands fa-twitter"></i></a>
                          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                       </div>
                    </div>
                    <div class="postbox__author d-md-flex align-items-center mb-40">
                       <div class="postbox__author-thumb mr-20">
                          <a [routerLink]="['/profile']">
                             <img src="assets/img/blog/author/blog-author-7.jpg" alt="">
                          </a>
                       </div>
                       <div class="postbox__author-content">
                          <h4><a href="#">Willa Köerner</a></h4>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                       </div>
                    </div>
                    <div class="postbox__more mb-70 d-none d-md-block">
                       <div class="row">
                          <div class="col-xxl-6 col-xl-6 col-md-6">
                             <div class="postbox__more-item d-flex align-items-center mb-35">
                                <div class="postbox__more-icon mr-15">
                                   <a [routerLink]="['/blog-details']"><i class="fa-regular fa-arrow-left"></i></a>
                                </div>
                                <div class="postbox__more-content">
                                   <span>Previous</span>
                                   <h3 class="postbox__more-title">
                                      <a [routerLink]="['/blog-details']">Success Formula How?</a>
                                   </h3>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-6 col-xl-6 col-md-6">
                             <div class="postbox__more-item next d-flex align-items-center justify-content-md-end mb-35">
                                <div class="postbox__more-content text-end mr-15">
                                   <span>Next</span>
                                   <h3 class="postbox__more-title">
                                      <a [routerLink]="['/blog-details']">Success Formula How?</a>
                                   </h3>
                                </div>
                                <div class="postbox__more-icon">
                                   <a [routerLink]="['/blog-details']"><i class="fa-regular fa-arrow-right"></i></a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="postbox__recent">
                       <div class="row">
                          <div class="col-xxl-12">
                             <h3 class="postbox__recent-title">Related Articles</h3>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                              <div class="blog__grid-item mb-30">
                                <div class="blog__grid-thumb w-img">
                                   <a [routerLink]="['/blog-details']">
                                      <img src="assets/img/blog/blog-1.jpg" alt="">
                                   </a>
                                </div>
                                <div class="blog__grid-content">
                                   <div class="blog__grid-tag">
                                      <a [routerLink]="['/blog-details']">Digital Art</a>
                                   </div>
                                   <h3 class="blog__grid-title">
                                      <a [routerLink]="['/blog-details']">Here's the first look at Valentino's new collection.</a>
                                   </h3>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                              <div class="blog__grid-item mb-30">
                                <div class="blog__grid-thumb w-img">
                                   <a [routerLink]="['/blog-details']">
                                      <img src="assets/img/blog/blog-2.jpg" alt="">
                                   </a>
                                </div>
                                <div class="blog__grid-content">
                                   <div class="blog__grid-tag">
                                      <a [routerLink]="['/blog-details']">Marketing</a>
                                   </div>
                                   <h3 class="blog__grid-title">
                                      <a [routerLink]="['/blog-details']">Serwah Attafuah on being Punk in the digital.</a>
                                   </h3>
                                </div>
                             </div>
                          </div>
                          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                              <div class="blog__grid-item mb-30">
                                <div class="blog__grid-thumb w-img">
                                   <a [routerLink]="['/blog-details']">
                                      <img src="assets/img/blog/blog-3.jpg" alt="">
                                   </a>
                                </div>
                                <div class="blog__grid-content">
                                   <div class="blog__grid-tag">
                                      <a [routerLink]="['/blog-details']">NFTs Marketplace</a>
                                   </div>
                                   <h3 class="blog__grid-title">
                                      <a [routerLink]="['/blog-details']">As people move out of big cities, NFT retail follows.</a>
                                   </h3>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </article>
              <div class="postbox__comment mb-75">
                 <h3 class="postbox__comment-title">Comments (3)</h3>
                 <ul>
                    <li>
                       <div class="postbox__comment-box">
                          <div class="postbox__comment-info d-flex">
                                <div class="postbox__comment-avater mr-20">
                                   <img src="assets/img/blog/comments/comment-1.jpg" alt="">
                                </div>
                                <div class="postbox__comment-name">
                                   <h5>Chigusa Kisa</h5>
                                   <span class="post-meta">October 16, 2022 • 1 min read</span>
                                </div>
                          </div>
                          <div class="postbox__comment-text ml-65">
                             <p>A component that allows for easy creation of menu items, quickly creating paragraphs of “Lorem Ipsum” </p>
                             <div class="postbox__comment-reply">
                                <a href="#"><i class="fa-regular fa-reply"></i> Reply</a>
                             </div>
                          </div>
                       </div>
                    </li>
                    <li class="children">
                       <div class="postbox__comment-box">
                          <div class="postbox__comment-info d-flex">
                                <div class="postbox__comment-avater mr-20">
                                   <img src="assets/img/blog/comments/comment-2.jpg" alt="">
                                </div>
                                <div class="postbox__comment-name">
                                   <h5>Philip Reyes</h5>
                                   <span class="post-meta"> September 16, 2022 • 1 min read</span>
                                </div>
                          </div>
                          <div class="postbox__comment-text ml-65">
                             <p>This theme is super awesome! But I had one small issue with link option in parallax portfolio.</p>
                             <div class="postbox__comment-reply">
                                <a href="#"><i class="fa-regular fa-reply"></i> Reply</a>
                             </div>
                          </div>
                       </div>
                       <ul>
                          <li class="children">
                             <div class="postbox__comment-box">
                                <div class="postbox__comment-info d-flex">
                                      <div class="postbox__comment-avater mr-20">
                                         <img src="assets/img/blog/comments/comment-3.jpg" alt="">
                                      </div>
                                      <div class="postbox__comment-name">
                                         <h5>Ruüd van</h5>
                                         <span class="post-meta"> September 16, 2022 • 1 min read</span>
                                      </div>
                                </div>
                                <div class="postbox__comment-text ml-65">
                                   <p>Hats off to your quick response time & service!!</p>
                                   <div class="postbox__comment-reply">
                                      <a href="#"><i class="fa-regular fa-reply"></i> Reply</a>
                                   </div>
                                </div>
                             </div>
                          </li>
                       </ul>
                    </li>

                 </ul>
              </div>
              <div class="postbox__comment-form">
                 <h3 class="postbox__comment-form-title">Leave a Reply</h3>
                 <form action="#">
                    <div class="row">
                       <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="postbox__comment-input-box">
                             <h4>Name <span>*</span></h4>
                             <div class="postbox__comment-input">
                                <input type="email" placeholder="Enter your name">
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-6 col-xl-6 col-lg-6">
                          <div class="postbox__comment-input-box">
                             <h4>Email <span>*</span></h4>
                             <div class="postbox__comment-input">
                                <input type="email" placeholder="Enter your email">
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="postbox__comment-input-box">
                             <h4>Your Comment</h4>
                             <div class="postbox__comment-input">
                                <textarea placeholder="Your comment here..."></textarea>
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="postbox__comment-btn">
                             <button type="submit" class="tp-btn-4 w-100">Submit Comment</button>
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4">
          <app-blog-right-side></app-blog-right-side>
        </div>
     </div>
  </div>
</section>
