<section class="brand__area pb-80">
  <div class="container">
     <div class="row row-cols-xxl-5 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 justify-content-center">
        <div class="col">
           <div class="brand__item mb-30 text-center">
              <img src="assets/img/brand/2/brand-1.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-2.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-3.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-4.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-5.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-6.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-7.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-8.png" alt="">
           </div>
        </div>
        <div class="col">
           <div class="brand__item-2 mb-30 text-center">
              <img src="assets/img/brand/2/brand-9.png" alt="">
           </div>
        </div>
     </div>
  </div>
</section>
