 <!-- breadcrumb area start -->
 <section class="breadcrumb__area pt-160 pb-40 p-relative">
  <div class="breadrumb__shape">
     <img class="breadcrumb__shape-1" src="assets/img/breadcrumb/breadcrumb-shape-1.png" alt="">
  </div>
</section>
<!-- breadcrumb area end -->

<!-- contact area start -->
<section class="contact__area pb-60">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-10 col-xl-10">
           <div class="contact__wrapper">
              <div class="contact__shape">
                 <img class="contact__shape-1" src="assets/img/icon/contact/contact-shape-1.png" alt="">
                 <img class="contact__shape-2" src="assets/img/icon/contact/contact-shape-2.png" alt="">
                 <img class="contact__shape-3" src="assets/img/icon/contact/contact-shape-3.png" alt="">
                 <img class="contact__shape-4" src="assets/img/icon/contact/contact-shape-4.png" alt="">
                 <img class="contact__shape-5" src="assets/img/icon/contact/contact-shape-5.png" alt="">
              </div>
              <div class="contact__content text-center mb-40">
                 <h3>Get in Touch</h3>
                 <p>Need support, have feature requests, looking for partnerships orwould like to make unlimited number of API calls? We respond within 24 hours during business days.</p>
              </div>
              <div class="contact__form">
                 <form action="#">
                    <div class="row">
                       <div class="col-xxl-12">
                          <div class="contact__input-box">
                             <h4>Your name <span>*</span></h4>
                             <div class="contact__input">
                                <input type="text" placeholder="Enter your name">
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="contact__input-box">
                             <h4>Your email <span>*</span></h4>
                             <div class="contact__input">
                                <input type="text" placeholder="Enter your email">
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-6 col-md-6">
                          <div class="contact__input-box">
                             <h4>Select a subject</h4>
                             <div class="contact__input">

                                <div class="tp-select tp-select-3">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select disableRipple>
                                      <mat-option value="1">Service Request</mat-option>
                                      <mat-option value="2">Service 1</mat-option>
                                      <mat-option value="3">Service 2</mat-option>
                                      <mat-option value="3">Service 3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                               </div>

                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-6 col-md-6">
                          <div class="contact__input-box">
                             <h4>Select country</h4>
                             <div class="contact__input">

                              <div class="tp-select tp-select-3">
                                  <mat-form-field appearance="fill">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select disableRipple>
                                      <mat-option value="1">United States</mat-option>
                                      <mat-option value="2">United Kingdom</mat-option>
                                      <mat-option value="3">Dubai</mat-option>
                                      <mat-option value="3">Canada</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                               </div>

                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="contact__input-box">
                             <h4>Message <span>*</span></h4>
                             <div class="contact__input">
                                <textarea placeholder="How we can help you?"></textarea>
                             </div>
                          </div>
                       </div>
                       <div class="col-xxl-12">
                          <div class="contact__bottom d-sm-flex align-items-center justify-content-between">
                             <div class="contact__agree d-flex align-items-center">
                                <input class="m-check-input" type="checkbox" id="m-lock">
                                <label class="m-check-label" for="m-lock">Allow to all tearms & condition</label>
                             </div>
                             <div class="contact__btn">
                                <button type="submit" class="tp-btn-4">send message</button>
                             </div>
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- contact area end -->

<!-- contact info area start -->
<section class="contact__info pb-70">
  <div class="container">
     <div class="contact__info-wrapper">
        <div class="row justify-content-center">
           <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="contact__info-item d-flex align-items-center mb-50">
                 <div class="contact__icon mr-15">
                    <span>
                       <img src="assets/img/icon/contact/contact-1.png" alt="">
                    </span>
                 </div>
                 <div class="contact__text">
                    <p>Mail</p>
                    <h4><a href="malto:info@Bitakon.com">info@Bitakon.com</a></h4>
                 </div>
              </div>
           </div>
           <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="contact__info-item d-flex align-items-center mb-50">
                 <div class="contact__icon mr-15 contact-discord">
                    <span>
                       <img src="assets/img/icon/contact/contact-2.png" alt="">
                    </span>
                 </div>
                 <div class="contact__text">
                    <p>Support</p>
                    <h4><a href="#">Join Discord</a></h4>
                 </div>
              </div>
           </div>
           <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
              <div class="contact__info-item d-flex align-items-center mb-50">
                 <div class="contact__icon mr-15 contact-location">
                    <span>
                       <img src="assets/img/icon/contact/contact-3.png" alt="">
                    </span>
                 </div>
                 <div class="contact__text">
                    <p>Office</p>
                    <h4><a href="https://www.google.com/maps/place/%E0%A6%A2%E0%A6%BE%E0%A6%95%E0%A6%BE/@23.7807777,90.3492857,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.810332!4d90.4125181" target="_blank">Pikk 33, Tallinn, Estonia</a></h4>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- contact info area end -->
