<section class="mission__area pb-50">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-8 col-xl-8 col-lg-10">
           <div class="mission__wrapper">
              <div class="mission__title-wrapper">
                 <span class="mission__title-pre">Our Mission</span>
                 <p>At Bitakon, we're excited about a brand new type of digital good called
                    a non-fungible token, or NFT. NFTs have exciting new properties:unique, provably scarce, tradeable, and usable across multiple applications. Just like physical goods, you can do whatever you want with them! </p>
              </div>

              <div class="mission__counter p-relative">
                 <span class="mission__counter-vr-br"></span>
                 <span class="mission__counter-vr-br mission__counter-vr-br-2"></span>
                 <span class="mission__counter-hr-br"></span>
                 <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-1.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4><span class="counter">2020</span></h4>
                             <p>Since Launching</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start justify-content-md-center">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-2.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4><span class="counter">4</span>M+</h4>
                             <p>Total User</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start justify-content-md-end">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-3.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4><span class="counter">170</span>+</h4>
                             <p>Total Employees</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-4.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4><span class="counter">2</span>M+</h4>
                             <p>Total Collections</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start justify-content-md-center">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-5.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4><span class="counter">2</span>k+</h4>
                             <p>NFT Created</p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="mission__counter-item d-flex align-items-start justify-content-md-end">
                          <div class="mission__counter-icon mr-10">
                             <img src="assets/img/icon/counter/counter-6.png" alt="">
                          </div>
                          <div class="mission__counter-content">
                             <h4>$<span class="counter">14</span>B+</h4>
                             <p>Trading Volume</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
