<section class="blog__area pb-100">
  <div class="container">
     <div class="section__title-border mb-50">
        <div class="row">
           <div class="col-xxl-6 col-lg-6">
              <div class="section__title-wrapper-2 mr-15">
                 <h3 class="section__title-2">Blogs on NFT market</h3>
              </div>
           </div>
           <div class="col-xxl-6 col-lg-6">
              <div class="blog__more text-lg-end">
                 <a [routerLink]="['/blog']" class="tp-btn-border">View all Blog</a>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-xxl-6 col-lg-6">
           <div class="blog__item mb-30">
              <div class="blog__content-wrapper include-bg p-relative transition-3 fix" [ngStyle]="{background:'url(assets/img/blog/2/blog-img-1.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                 <div class="blog__content mb-20">
                    <div class="blog__tag">
                       <span><a href="#">Artworks</a></span>
                    </div>
                    <h3 class="blog__title">
                       <a [routerLink]="['/blog-details']">On abuse of power and power Of the Collective</a>
                    </h3>
                    <a [routerLink]="['/blog-details']" class="link-btn">Read More <i class="fa-regular fa-arrow-right-long"></i></a>
                 </div>
                 <div class="blog__author d-flex align-items-center">
                    <div class="blog__author-thumb mr-10">
                       <a [routerLink]="['/blog-details']">
                          <img src="assets/img/blog/author/blog-author-2.jpg" alt="">
                       </a>
                    </div>
                    <div class="blog__author-content">
                       <h5 class="blog__author-name">
                          <a href="#">Lisa Liang</a>
                       </h5>
                       <span>October 24, 2022</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xxl-6 col-lg-6">
           <div class="blog__item mb-30">
              <div class="blog__content-wrapper include-bg p-relative transition-3 fix" [ngStyle]="{background:'url(assets/img/blog/2/blog-img-2.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                 <div class="blog__content mb-20">
                    <div class="blog__tag">
                       <span><a href="#">Freshly Minted</a></span>
                    </div>
                    <h3 class="blog__title">
                       <a [routerLink]="['/blog-details']">Exploring the layers of who's the Controller now?</a>
                    </h3>
                    <a [routerLink]="['/blog-details']" class="link-btn">Read More <i class="fa-regular fa-arrow-right-long"></i></a>
                 </div>
                 <div class="blog__author d-flex align-items-center">
                    <div class="blog__author-thumb mr-10">
                       <a [routerLink]="['/blog-details']">
                          <img src="assets/img/blog/author/blog-author-1.jpg" alt="">
                       </a>
                    </div>
                    <div class="blog__author-content">
                       <h5 class="blog__author-name">
                          <a href="#">Weir Doe</a>
                       </h5>
                       <span>October 24, 2022</span>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
