<div>
  <div
    [ngClass]="
      themeSetting
        ? 'theme__settings transition-3 theme-setting-opened'
        : 'theme__settings transition-3'
    "
  >
    <div class="theme__settings-btn">
      <button
        (click)="handleThemeSetting()"
        type="button"
        class="theme__settings-expand"
        id="theme-setting-toggle"
      >
        <i class="fa-solid fa-gear"></i>
      </button>
      <button
        (click)="handleThemeSettingClose()"
        type="button"
        class="theme__settings-close"
        id="theme-setting-close"
      >
        <i class="fa-regular fa-xmark"></i>
      </button>
    </div>
    <div class="theme__settings-wrapper text-center">
      <div class="theme__switch mb-30">
        <h4 class="theme__settings-title">Select your desired theme</h4>
        <!-- light dark moode switcher start -->
        <div class="my_switcher setting-option">
          <ul>
            <li>
              <a
                (click)="switchTheme('active-dark-mode')"
                href="javascript: void(0);"
                data-theme="dark"
                class="setColor dark theme__switcher-btn"
              >
                <i class="fa-light fa-moon"></i> Dark
              </a>
            </li>
            <li>
              <a
                (click)="switchTheme('active-light-mode')"
                href="javascript: void(0);"
                data-theme="light"
                class="setColor light theme__switcher-btn"
              >
                <i class="fa-light fa-brightness-low"></i> Light
              </a>
            </li>
          </ul>
        </div>
        <!-- light dark moode switcher end -->
      </div>

    </div>
  </div>
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
</div>
