<section class="product__details-area pt-80 pb-120">
  <div class="container">
     <div class="row">
        <div class="col-xxl-7 col-xl-6 col-lg-6">
           <div class="product__details-thumb-grid">
              <div class="row gx-2 gy-2">
                 <div class="col-sm-6">
                    <img src="assets/img/product/grid/product-grid-1.jpg" alt="">
                 </div>
                 <div class="col-sm-6">
                    <img src="assets/img/product/grid/product-grid-2.jpg" alt="">
                 </div>
                 <div class="col-sm-6">
                    <img src="assets/img/product/grid/product-grid-3.jpg" alt="">
                 </div>
                 <div class="col-sm-6">
                    <img src="assets/img/product/grid/product-grid-4.jpg" alt="">
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-6">
           <app-product-details-right-side></app-product-details-right-side>
        </div>
     </div>
  </div>
</section>
