<footer>
  <div class="footer__area footer__style-2 footer__gradient footer__overlay">
     <div class="footer__top">
        <div class="footer__top-border pt-85 pb-50">
           <div class="container">
              <div class="row">
                 <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="footer__widget mb-50 footer-col-4-1">
                       <div class="footer__info">
                          <div class="footer__logo">
                             <a href="#">
                                <img class="logo-white" src="assets/img/logo/logo.png" alt="">
                                <img class="logo-black" src="assets/img/logo/logo-black.png" alt="">
                             </a>
                          </div>
                          <p>Raroin is a shared liquidity NFT market smart contract which is used by multiple websites to provide the users.</p>

                          <div class="footer__social footer__social-2">
                             <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                             <a href="#"><i class="fa-brands fa-twitter"></i></a>
                             <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                             <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="footer__widget footer-col-2-2 mb-50">
                       <h3 class="footer__widget-title">Marketplace</h3>

                       <ul>
                          <li><a href="#">Start Selling</a></li>
                          <li><a href="#">Explore NFTs</a></li>
                          <li><a href="#">My Account</a></li>
                          <li><a href="#">Partners</a></li>
                          <li><a href="#">Marketplace</a></li>
                          <li><a href="#">List a Item</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="footer__widget footer-col-2-3 mb-50">
                       <h3 class="footer__widget-title">Community</h3>

                       <ul>
                          <li><a href="#">Games</a></li>
                          <li><a href="#">Art</a></li>
                          <li><a href="#">Create A Store</a></li>
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Music</a></li>
                          <li><a href="#">Collectibles</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget footer-col-2-4 mb-50">
                       <h3 class="footer__widget-title">Subscribe</h3>

                       <div class="footer__subscribe footer__subscribe-2">
                          <p>Signup for our newsletter to get the latest news in your inbox.</p>
                          <form action="#">
                             <div class="footer__subscribe-form p-relative">
                                <div class="footer__subscribe-input">
                                   <input type="email" placeholder="E-mail">
                                   <i class="fa-light fa-envelopes"></i>
                                </div>
                                <button class="footer__subscribe-input-btn">Subscribe</button>
                             </div>
                          </form>
                          <p class="info">Your email is safe with us. We don't spam.</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="footer__bottom">
        <div class="container">
           <div class="row">
              <div class="col-xxl-6 col-sm-6">
                 <div class="footer__copyright">
                    <p>© 2022 <a href="#">Bitakon</a>. All rights reserved.</p>
                 </div>
              </div>
              <div class="col-xxl-6 col-sm-6">
                 <div class="footer__menu text-sm-end">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>

