<section class="cta__area pt-45 pb-30">
  <div class="container tp-container">
    <div class="row gx-3">
      <div class="col-xxl-5 col-xl-5">
        <div class="subscribe__wrapper p-relative mr-40">
          <div class="subscribe__inner theme-bg-dark p-relative">
            <div class="subscribe__shape">
              <img
                class="subscribe__shape-1"
                src="assets/img/cta/cta-shape-1.png"
                alt=""
              />
            </div>
            <h3>Get the latest Bitakon updates</h3>
            <form action="#">
              <div class="subscribe__input-wrapper p-relative">
                <div class="subscribe__input">
                  <input type="email" placeholder="Your e-mail" />
                  <i class="fa-light fa-envelopes"></i>
                </div>
                <button class="subscribe__input-btn" type="button">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xxl-7 col-xl-7">
        <div class="app__wrapper p-relative">
          <div class="app__inner theme-bg-dark p-relative">
            <div class="app__content d-sm-flex align-items-center">
              <div class="app__qr mr-60">
                <a href="#">
                  <img src="assets/img/cta/qrcode.png" alt="" />
                </a>
              </div>
              <div class="app__info">
                <h3>
                  Download the Bitakon app to Explore <br />
                  Any NFTs
                </h3>

                <div class="app__download d-sm-flex align-items-center">
                  <a href="#">
                    <div
                      class="app__download-item d-flex align-items-center transition-3"
                    >
                      <div class="app__download-icon mr-5">
                        <i class="fa-brands fa-google-play"></i>
                      </div>
                      <div class="app__download-text">
                        <h5>Download from</h5>
                        <p>Google play</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div
                      class="app__download-item active d-flex align-items-center transition-3"
                    >
                      <div class="app__download-icon mr-5">
                        <i class="fa-brands fa-android"></i>
                      </div>
                      <div class="app__download-text">
                        <h5>Download from</h5>
                        <p>Android</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div
                      class="app__download-item d-flex align-items-center transition-3"
                    >
                      <div class="app__download-icon mr-5">
                        <i class="fa-brands fa-apple"></i>
                      </div>
                      <div class="app__download-text">
                        <h5>Download from</h5>
                        <p>App store</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
