<section class="upcoming__area pt-115 pb-120">
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="upcoming__wrapper">
              <div class="upcoming__item">
                 <h3 class="upcoming__title"><i class="fa-regular fa-calendar"></i> April 20</h3>

                 <div class="upcoming__table">
                    <table class="table">
                       <thead>
                          <tr>
                             <th scope="col">Project</th>
                             <th scope="col">Time</th>
                             <th scope="col">Count</th>
                             <th scope="col">Price</th>
                             <th scope="col">Extras</th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr>
                             <td>Aqua Watcher Genesis</td>
                             <td class="color-green">11 PM UTC</td>
                             <td class="color-red">10%</td>
                             <td class="color-theme">$40</td>
                             <td>If SOL is above $140</td>
                          </tr>
                          <tr>
                             <td>Secure 25</td>
                             <td class="color-green">15 PM UTC</td>
                             <td class="color-red">70%</td>
                             <td class="color-theme">$90</td>
                             <td>If SOL is above $20</td>
                          </tr>
                          <tr>
                             <td>Secure 25</td>
                             <td class="color-green">20 PM UTC</td>
                             <td class="color-red">50%</td>
                             <td class="color-theme">$50</td>
                             <td>If SOL is above $122</td>
                          </tr>
                          <tr>
                             <td>Secure 25</td>
                             <td class="color-green">22 PM UTC</td>
                             <td class="color-red">550%</td>
                             <td class="color-theme">$20</td>
                             <td>If SOL is above $240</td>
                          </tr>
                       </tbody>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <app-pagination [upcomingUrl]="true"></app-pagination>
     </div>
  </div>
</section>
