<section class="cta__area p-relative z-index-1">
  <div class="container">
     <div class="cta__wrapper-2 p-relative">
        <div class="cta__shape">
           <img class="cta__shape-1" src="assets/img/cta/2/cta-shape-1.png" alt="">
           <img class="cta__shape-2" src="assets/img/cta/2/cta-shape-2.png" alt="">
           <img class="cta__shape-3" src="assets/img/cta/2/cta-shape-3.png" alt="">
        </div>
        <div class="row align-items-center">
           <div class="col-xxl-6 col-lg-6">
              <div class="cta__thumb-2">
                 <img src="assets/img/cta/2/cta-graph.png" alt="">
              </div>
           </div>
           <div class="col-xxl-6 col-lg-6">
              <div class="cta__content-2">
                 <h3>Explore and discover Top trending NFTs</h3>
                 <p>Raroin is a shared liquidity NFT market smart contract which is used by multiple websites to provide the users.</p>

                 <a [routerLink]="['/create-single']" class="tp-btn-gradient active">upload work</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
