<section class="video__area pb-110">
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="video__content">
              <div class="video__thumb w-img">
                 <img src="assets/img/video/video-bg.jpg" alt="">
                 <div class="video__play" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <button class="video__play-btn popup-video">
                      <i class="fa-solid fa-play"></i></button>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>



<div class="bitakon-video-popup">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <iframe src="https://www.youtube.com/embed/yJg-Y5byMMw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
</div>
