<section class="create__area pt-180 pb-90">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6">
           <div class="create__item mb-30">
              <div class="create__item-inner text-center">
                 <div class="create__content">
                    <h4 class="create__title">
                       <a [routerLink]="['/create-single']">Sell One Time</a>
                    </h4>
                    <p>Your collectible want to be one of a kind</p>
                 </div>

                 <div class="create__thumb m-img">
                    <img src="assets/img/create/create-1.png" alt="">
                 </div>
              </div>
           </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6">
           <div class="create__item mb-30">
              <div class="create__item-inner text-center">
                 <div class="create__content">
                    <h4 class="create__title">
                       <a [routerLink]="['/create-multiple']">Sell Multiple Time</a>
                    </h4>
                    <p>Your collectible want to be one of a kind</p>
                 </div>

                 <div class="create__thumb m-img">
                    <img src="assets/img/create/create-2.png" alt="">
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
