<footer>
  <div class="footer__area">
    <div class="footer__top">
      <div class="container tp-container">
        <div class="footer__top-border pt-65 pb-40">
          <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
              <div class="footer__widget mb-50">
                <div class="footer__info">
                  <div class="footer__logo">
                    <a href="#">
                      <img
                        class="logo-white"
                        src="assets/img/logo/logo.png"
                        alt=""
                      />
                      <img
                        class="logo-black"
                        src="assets/img/logo/logo-black.png"
                        alt=""
                      />
                    </a>
                  </div>
                  <p>
                    Raroin is a shared liquidity NFT market smart contract which
                    is used by multiple websites to provide the users.
                  </p>

                  <div class="footer__social">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-2 mb-50">
                <h3 class="footer__widget-title">Marketplace</h3>

                <ul>
                  <li><a href="#">Create A Store</a></li>
                  <li><a href="#">Start Selling</a></li>
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Job</a></li>
                  <li><a href="#">List a Item</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-3 mb-50">
                <h3 class="footer__widget-title">Community</h3>

                <ul>
                  <li><a href="#">Art</a></li>
                  <li><a href="#">Digital Art</a></li>
                  <li><a href="#">Photography</a></li>
                  <li><a href="#">Games</a></li>
                  <li><a href="#">Music</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-4 mb-50">
                <h3 class="footer__widget-title">Resources</h3>

                <ul>
                  <li><a href="#">Explore NFTs</a></li>
                  <li><a href="#">Platform Status</a></li>
                  <li><a href="#">Help center</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">Marketplace</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
              <div class="footer__widget footer-col-5 mb-50">
                <h3 class="footer__widget-title">Language</h3>

                <div class="footer__lang-wrapper">
                  <div class="footer__lang mb-25">


                    <div class="tp-select">
                      <mat-form-field appearance="fill">
                        <mat-label>Select an option</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1">English</mat-option>
                          <mat-option value="2">Spanish</mat-option>
                          <mat-option value="3">Portuguese</mat-option>
                          <mat-option value="3">China</mat-option>
                        </mat-select>
                      </mat-form-field>
                   </div>

                  </div>
                  <div class="footer__lang-certificate">
                    <img
                      class="dark"
                      src="assets/img/footer/verifay-dark.png"
                      alt=""
                    />
                    <img
                      class="light"
                      src="assets/img/footer/verifay-light.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container tp-container">
        <div class="row">
          <div class="col-xxl-6 col-sm-6">
            <div class="footer__copyright">
              <p><a href="#">©Bitakon</a>, 2022 All rights reserved.</p>
            </div>
          </div>
          <div class="col-xxl-6 col-sm-6">
            <div class="footer__menu text-sm-end">
              <a href="#">Terms</a>
              <a href="#">Privacy policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
