<section class="creator__area">
  <div class="creator__banner include-bg" [ngStyle]="{background:'url(assets/img/creator/creator-bg.jpg)',
  backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}"></div>
  <div class="container">
     <div class="row">
        <div class="col-xxl-12">
           <div class="creator__user-wrapper text-center">
              <div class="creator__user-thumb">
                 <img src="assets/img/creator/user-1.jpg" alt="">
              </div>
              <h3 class="creator__user-title">Ruüd van</h3>
              <div class="creator__user-copyright d-inline-block">
                 <div class="creator__user-copyright-inner d-flex align-items-center">
                    <div class="creator__user-copyright-icon">
                       <i class="fa-brands fa-ethereum"></i>
                    </div>
                    <div class="creator__user-copyright-text">
                       <span>0xF74d ... 1224 </span>
                       <button type="button">
                          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <g opacity="0.6">
                             <path d="M5.80388 13.2632H3.5941C1.28115 13.2632 0 11.9967 0 9.68638V3.57677C0 1.27497 1.27255 0 3.5941 0H7.52354C9.83649 0 11.1176 1.26642 11.1176 3.57677C11.1176 3.92761 10.8253 4.21854 10.4728 4.21854C10.1202 4.21854 9.8279 3.92761 9.8279 3.57677C9.8279 1.96808 9.14003 1.28353 7.52354 1.28353H3.5941C1.97762 1.28353 1.28975 1.96808 1.28975 3.57677V9.68638C1.28975 11.2951 1.97762 11.9796 3.5941 11.9796H5.80388C6.15641 11.9796 6.44875 12.2706 6.44875 12.6214C6.44875 12.9722 6.15641 13.2632 5.80388 13.2632Z" fill="white"/>
                             <path d="M11.8705 14H9.54195C8.17131 14 7.41211 13.1959 7.41211 11.729V7.84992C7.41211 6.38846 8.16622 5.57895 9.54195 5.57895H11.8705C13.2411 5.57895 14.0003 6.38302 14.0003 7.84992V11.729C14.0003 13.1959 13.2462 14 11.8705 14ZM9.54195 6.39389C8.58403 6.39389 8.17641 6.82852 8.17641 7.84992V11.729C8.17641 12.7504 8.58403 13.1851 9.54195 13.1851H11.8705C12.8284 13.1851 13.236 12.7504 13.236 11.729V7.84992C13.236 6.82852 12.8284 6.39389 11.8705 6.39389H9.54195Z" fill="white" stroke="white" stroke-width="0.2"/>
                             </g>
                          </svg>
                       </button>
                    </div>
                 </div>
              </div>
              <div class="creator__follow">
                 <p><span>604</span> followers</p>
                 <p><span>2</span> following</p>
              </div>
              <div class="creator__action">
                 <ul>
                    <li><a href="#">Follow</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#messagemodal">Send Message</a></li>
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#sharemodal">Share</a></li>
                    <li>
                       <a href="#" class="more dropdown-toggle nft-more-btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></a>
                       <div class="nft__more-content dropdown-menu dropdown-menu-end">
                          <ul>
                             <li>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#reportmodal">Report</button>
                             </li>
                          </ul>
                       </div>
                    </li>
                 </ul>
              </div>
              <div class="creator__tab">
                 <nav>
                    <div class="nav nav-tabs justify-content-md-center" id="nav-tab" role="tablist">

                      <button class="nav-link" id="nav-sale-tab" data-bs-toggle="tab" data-bs-target="#nav-sale" type="button" role="tab" aria-controls="nav-sale" aria-selected="true">On sale <span class="number">8</span></button>

                      <button class="nav-link active" id="nav-created-tab" data-bs-toggle="tab" data-bs-target="#nav-created" type="button" role="tab" aria-controls="nav-created" aria-selected="false">Created <span class="number">24</span></button>

                      <button class="nav-link" id="nav-collection-tab" data-bs-toggle="tab" data-bs-target="#nav-collection" type="button" role="tab" aria-controls="nav-collection" aria-selected="false">Collections</button>

                      <button class="nav-link" id="nav-liked-tab" data-bs-toggle="tab" data-bs-target="#nav-liked" type="button" role="tab" aria-controls="nav-liked" aria-selected="false">Liked <span class="number">24</span></button>

                    </div>
                 </nav>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="creator__border"></div>
  <div class="creator__item-wrapper pt-40 pb-120">
     <div class="container">
        <div class="row">
           <div class="col-xxl-12">
              <div class="tab-content" id="nav-tabContent">
                 <div class="tab-pane fade" id="nav-sale" role="tabpanel" aria-labelledby="nav-sale-tab">
                    <div class="create__sale">
                       <div class="row">

                          <div *ngFor="let saleItem of onSalesItems" class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                             <div class="nft__box theme-bg-dark mb-30 transition-3">
                                <div class="nft__box-top d-flex align-items-center justify-content-between">
                                   <div class="nft__box-user">
                                      <ul>
                                         <li>
                                            <a [routerLink]="['/profile']">
                                               <img src="assets/img/bid/2/bid-user-1.jpg" alt="">
                                            </a>
                                         </li>
                                         <li>
                                            <a [routerLink]="['/profile']">
                                               <img src="assets/img/bid/2/bid-user-2.jpg" alt="">
                                            </a>
                                         </li>
                                         <li>
                                            <a [routerLink]="['/profile']">
                                               <img src="assets/img/bid/2/bid-user-3.jpg" alt="">
                                            </a>
                                         </li>
                                      </ul>
                                   </div>
                                   <div class="nft__box-more">
                                      <button type="button" class="dropdown-toggle nft-more-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                         <i class="fa-regular fa-ellipsis"></i>
                                      </button>
                                      <div class="nft__more-content dropdown-menu dropdown-menu-end">
                                         <ul>
                                            <li>
                                               <button type="button" data-bs-toggle="modal" data-bs-target="#sharemodal">Share</button>
                                            </li>
                                            <li>
                                               <button type="button" data-bs-toggle="modal" data-bs-target="#reportmodal">Report</button>
                                            </li>
                                         </ul>
                                      </div>
                                   </div>
                                </div>
                                <div class="nft__box-thumb m-img mb-20">
                                   <a [routerLink]="['/product-details']">
                                      <img src={{saleItem.img}} alt="">
                                   </a>
                                   <div class="nft__box-popularity">
                                      <a [routerLink]="['/product-details']"><i class="fa-solid fa-heart"></i>
                                        {{saleItem.heart}}</a>
                                   </div>
                                </div>
                                <div class="nft__box-content">
                                   <div class="nft__box-content-top d-flex align-items-center justify-content-between">
                                      <h3 class="nft__box-title">
                                         <a [routerLink]="['/product-details']">{{saleItem.title}}</a>
                                      </h3>
                                      <div class="nft__box-trending-icon">
                                         <span><i class="fa-brands fa-ethereum"></i></span>
                                      </div>
                                   </div>
                                   <div class="nft__box-info d-flex align-items-center justify-content-between">
                                      <div class="nft__box-price">
                                         <p>{{saleItem.bidHeigest}}</p>
                                      </div>
                                      <div class="nft__box-stock">
                                         <p>{{saleItem.stock}} in stock</p>
                                      </div>
                                   </div>
                                </div>
                                <div class="nft__box-bottom d-flex align-items-center justify-content-between">
                                   <div class="nft__box-highest">
                                      <p><i class="fa-light fa-code-fork"></i> Highest bid</p>
                                   </div>
                                   <div class="nft__box-bid">
                                      <p>0.001 ETH</p>
                                   </div>
                                </div>
                             </div>
                          </div>

                          <div class="col-xxl-12">
                             <div class="nft__more text-center mt-20">
                                <a [routerLink]="['/shop']" class="tp-load-more"><i class="fa-light fa-arrow-rotate-right"></i>View all items</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade show active" id="nav-created" role="tabpanel" aria-labelledby="nav-created-tab">
                    <div class="row">

                    <div *ngFor="let saleItem of createdItems" class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                        <div class="nft__box theme-bg-dark mb-30 transition-3">
                           <div class="nft__box-top d-flex align-items-center justify-content-between">
                              <div class="nft__box-user">
                                 <ul>
                                    <li>
                                       <a [routerLink]="['/profile']">
                                          <img src="assets/img/bid/2/bid-user-1.jpg" alt="">
                                       </a>
                                    </li>
                                    <li>
                                       <a [routerLink]="['/profile']">
                                          <img src="assets/img/bid/2/bid-user-2.jpg" alt="">
                                       </a>
                                    </li>
                                    <li>
                                       <a [routerLink]="['/profile']">
                                          <img src="assets/img/bid/2/bid-user-3.jpg" alt="">
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="nft__box-more">
                                 <button type="button" class="dropdown-toggle nft-more-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-ellipsis"></i>
                                 </button>
                                 <div class="nft__more-content dropdown-menu dropdown-menu-end">
                                    <ul>
                                       <li>
                                          <button type="button" data-bs-toggle="modal" data-bs-target="#sharemodal">Share</button>
                                       </li>
                                       <li>
                                          <button type="button" data-bs-toggle="modal" data-bs-target="#reportmodal">Report</button>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="nft__box-thumb m-img mb-20">
                              <a [routerLink]="['/product-details']">
                                 <img src={{saleItem.img}} alt="">
                              </a>
                              <div class="nft__box-popularity">
                                 <a [routerLink]="['/product-details']"><i class="fa-solid fa-heart"></i>
                                   {{saleItem.heart}}</a>
                              </div>
                           </div>
                           <div class="nft__box-content">
                              <div class="nft__box-content-top d-flex align-items-center justify-content-between">
                                 <h3 class="nft__box-title">
                                    <a [routerLink]="['/product-details']">{{saleItem.title}}</a>
                                 </h3>
                                 <div class="nft__box-trending-icon">
                                    <span><i class="fa-brands fa-ethereum"></i></span>
                                 </div>
                              </div>
                              <div class="nft__box-info d-flex align-items-center justify-content-between">
                                 <div class="nft__box-price">
                                    <p>{{saleItem.bidHeigest}}</p>
                                 </div>
                                 <div class="nft__box-stock">
                                    <p>{{saleItem.stock}} in stock</p>
                                 </div>
                              </div>
                           </div>
                           <div class="nft__box-bottom d-flex align-items-center justify-content-between">
                              <div class="nft__box-highest">
                                 <p><i class="fa-light fa-code-fork"></i> Highest bid</p>
                              </div>
                              <div class="nft__box-bid">
                                 <p>0.001 ETH</p>
                              </div>
                           </div>
                        </div>
                     </div>

                       <div class="col-xxl-12">
                          <div class="nft__more text-center mt-20">
                             <a [routerLink]="['/shop']" class="tp-load-more"><i class="fa-light fa-arrow-rotate-right"></i>View all items</a>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="tab-pane fade" id="nav-collection" role="tabpanel" aria-labelledby="nav-collection-tab">
                    <div class="creator__collection">
                       <div class="row">

                          <div *ngFor="let collection of collections" class="col-lg-4 col-md-6">
                             <div class="collection__item text-center mb-30 theme-bg-dark">
                                <div class="collection__item-inner">
                                   <div class="collection__thumb-wrapper">
                                      <div class="row gx-2">
                                         <div class="col-xxl-4 col-sm-4 col-4">
                                            <div class="collection__thumb mb-10 m-img">
                                               <a [routerLink]="['/collection']">
                                                  <img src={{collection.smImg_1}} alt="">
                                               </a>
                                            </div>
                                         </div>
                                         <div class="col-xxl-4 col-sm-4 col-4">
                                            <div class="collection__thumb mb-10 m-img">
                                               <a [routerLink]="['/collection']">
                                                  <img src={{collection.smImg_2}} alt="">
                                               </a>
                                            </div>
                                         </div>
                                         <div class="col-xxl-4 col-sm-4 col-4">
                                            <div class="collection__thumb mb-10 m-img">
                                               <a [routerLink]="['/collection']">
                                                  <img src={{collection.smImg_3}} alt="">
                                               </a>
                                            </div>
                                         </div>
                                         <div class="col-xxl-12">
                                            <div class="collection__thumb mb-10 m-img">
                                               <a [routerLink]="['/collection']">
                                                  <img src={{collection.bigImg}} alt="">
                                               </a>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="collection__content">
                                      <div class="collection__profile">
                                         <a [routerLink]="['/profile']">
                                            <img src={{collection.user}} alt="">
                                         </a>
                                      </div>
                                      <h3 class="collection__title">
                                         <a [routerLink]="['/collection']">{{collection.title}}</a>
                                      </h3>
                                      <p>{{collection.resource}} Resources</p>
                                   </div>
                                </div>
                             </div>
                          </div>

                          <div class="col-xxl-12">
                             <div class="nft__more text-center mt-20">
                                <a [routerLink]="['/collection']" class="tp-load-more"><i class="fa-light fa-arrow-rotate-right"></i>View all items</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="nav-liked" role="tabpanel" aria-labelledby="nav-liked-tab">
                    <div class="creator__like">
                       <div class="row">

                        <div *ngFor="let saleItem of likesData.slice(0,8)" class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
                          <div class="nft__box theme-bg-dark mb-30 transition-3">
                             <div class="nft__box-top d-flex align-items-center justify-content-between">
                                <div class="nft__box-user">
                                   <ul>
                                      <li>
                                         <a [routerLink]="['/profile']">
                                            <img src="assets/img/bid/2/bid-user-1.jpg" alt="">
                                         </a>
                                      </li>
                                      <li>
                                         <a [routerLink]="['/profile']">
                                            <img src="assets/img/bid/2/bid-user-2.jpg" alt="">
                                         </a>
                                      </li>
                                      <li>
                                         <a [routerLink]="['/profile']">
                                            <img src="assets/img/bid/2/bid-user-3.jpg" alt="">
                                         </a>
                                      </li>
                                   </ul>
                                </div>
                                <div class="nft__box-more">
                                   <button type="button" class="dropdown-toggle nft-more-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                      <i class="fa-regular fa-ellipsis"></i>
                                   </button>
                                   <div class="nft__more-content dropdown-menu dropdown-menu-end">
                                      <ul>
                                         <li>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#sharemodal">Share</button>
                                         </li>
                                         <li>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#reportmodal">Report</button>
                                         </li>
                                      </ul>
                                   </div>
                                </div>
                             </div>
                             <div class="nft__box-thumb m-img mb-20">
                                <a [routerLink]="['/product-details']">
                                   <img src={{saleItem.img}} alt="">
                                </a>
                                <div class="nft__box-popularity">
                                   <a [routerLink]="['/product-details']"><i class="fa-solid fa-heart"></i>
                                     {{saleItem.heart}}</a>
                                </div>
                             </div>
                             <div class="nft__box-content">
                                <div class="nft__box-content-top d-flex align-items-center justify-content-between">
                                   <h3 class="nft__box-title">
                                      <a [routerLink]="['/product-details']">{{saleItem.title}}</a>
                                   </h3>
                                   <div class="nft__box-trending-icon">
                                      <span><i class="fa-brands fa-ethereum"></i></span>
                                   </div>
                                </div>
                                <div class="nft__box-info d-flex align-items-center justify-content-between">
                                   <div class="nft__box-price">
                                      <p>{{saleItem.nftPriceBox}} ETH</p>
                                   </div>
                                   <div class="nft__box-stock">
                                      <p>{{saleItem.stock}} in stock</p>
                                   </div>
                                </div>
                             </div>
                             <div class="nft__box-bottom d-flex align-items-center justify-content-between">
                                <div class="nft__box-highest">
                                   <p><i class="fa-light fa-code-fork"></i> Highest bid</p>
                                </div>
                                <div class="nft__box-bid">
                                   <p>0.001 ETH</p>
                                </div>
                             </div>
                          </div>
                       </div>

                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>






 <!-- share modal start -->
 <div class="share__modal modal fade" id="sharemodal" tabindex="-1" aria-labelledby="sharemodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
        <div class="share__modal-content text-center">
           <div class="share__nft-content">
              <div class="share__thumb">
                 <img src="assets/img/bid/bid-img-1.jpg" alt="">
              </div>

           </div>
           <div class="share__social">
              <h3>Share this NFT</h3>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- share modal end -->

<!-- report modal start -->
<div class="report__modal modal fade" id="reportmodal" tabindex="-1" aria-labelledby="reportmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
        <div class="report__close">
           <button type="button" class="report__close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-regular fa-xmark"></i></button>
        </div>
        <div class="report__wrapper">
           <h3 class="report__title">Why are you reporting ?</h3>
           <p>Describe briefly about your report.</p>
           <form action="#">
              <div class="report__input-box">
                 <h4>Message</h4>
              </div>
              <div class="report__input">
                 <textarea placeholder="Write your message"></textarea>
              </div>
              <div class="report__button">
                 <button type="button" class="tp-btn-square">Send </button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
<!-- report modal end -->
